<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-1 ps-5 h1 ">BONEDA</span>
</nav>
<div class="container">
    <div class=" row">
        <div class="text-center col-md-12">
            <p class=" text-center px-5 mb-5 "><b>Sam Kim has sent you a lovely gift from far far away...
                    💖</b></p>
        </div>
        <div class="text-center mb-4 col-md-12">
            <img src="../../../assets/pp.jpg" class="img-fluid" alt="...">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>[농심)츄파춥스250]</h2>
        </div>
        <div class="text-center mb-3 col-md-12">
            <img src="../assets/qrcode.svg" alt="">
            <h4 class="mt-0 pt-0" style="font: 20px monospace">barcode example</h4>
            <p class="date text-center">Expiry date : 17/09/2022</p>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-12"><button type="button" [routerLink]="['/withoutbarcode']"
                class="btn btn-read btn btn-primary">Read message <img
                    src="../../../assets/chat-left-text.svg" > </button> 
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-lg w-100 border-0  " style="color: #A756FF; ">I want to send a gift
              <img
              src="../../../assets/hand.svg">
            </button>
    
        </div>
    </div>
   
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <strong> How to use</strong>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <br />
              <h6>Privacy Policy:</h6>
              <strong> Lorem ipsum</strong> is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including versions
              of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <strong>Terms and conditions</strong>
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <br />
              <h6>Terms and conditions:</h6>
              <strong> Lorem ipsum</strong> is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including versions
              of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              <strong>Customer Support</strong>
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <br />
              <h6>Customer Support:</h6>
              <strong> Lorem ipsum</strong> is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including versions
              of Lorem Ipsum..
            </div>
          </div>
        </div>
      </div>
      
</div>